{% extends 'account_base.html' %}

{% block title %}Redirecting...{% endblock %}
{% block extra-style %}
<script>
    // 리다이렉트까지의 시간(초)
    let countdown = 3;

    // 매 1초마다 남은 시간을 업데이트하는 함수
    const timer = setInterval(function() {
        document.getElementById('countdown').innerHTML = countdown;
        countdown--;

        // 시간이 0이 되면 리다이렉트
        if (countdown < 0) {
            clearInterval(timer);
            window.location.href = "{% url 'photo:index' %}";
        }
    }, 1000); // 1000밀리초 = 1초
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="login-container text-center">
        <!-- Instagram Logo -->
        <h1 class="fst-italic fw-bold">움짤 저장소</h1>
        <br>
        <h3>잠시만 기다려 주세요...</h3>
        <br>
        <p>페이지가 <span id="countdown" style="color:red">3</span>초 후에 이동됩니다.</p>
    </div>
</div>
{% endblock %}